# Xcode user-specific files
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcuserdatad/

# macOS system files
.DS_Store

# Derived data
DerivedData/

.# Build artifacts
build/

